<div class="calendar-header">
  <div class="view-modes">
    <button (click)="setViewMode('Mês')">Mês</button>
    <button (click)="setViewMode('Semana')">Semana</button>
    <button (click)="setViewMode('Dia')">Dia</button>
  </div>
  
  <div class="calendar-date">
    
      <div class="calendar-date">
        <h2>
          {{ 
            viewMode === 'Mês' ? (currentDate | date: 'MMMM yyyy' | titlecase) :
            viewMode === 'Semana' ? 
            (getFirstDayOfWeek() | date: 'd MMMM' | titlecase) + ' - ' + (getLastDayOfWeek() | date: 'd MMMM' | titlecase) :
            (currentDate | date: 'fullDate' | titlecase)
          }}
        </h2>
      </div>
      
  </div>
    
    <div class="navigation-buttons">
      <button (click)="navigate('prev')"> < </button>
      <button (click)="navigate('next')">></button>
    </div>

  </div>
  
  <div *ngIf="viewMode === 'Mês'" class="month-view">
    <div class="day-header" *ngFor="let day of ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']">
      {{ day }}
    </div>
    <div class="day-cell" 
     *ngFor="let day of daysInMonth" 
     [class.extra-day]="day.getMonth() !== currentDate.getMonth()" 
     (click)="selectDate(day)">
  {{ day.getDate() }}
</div>
  </div>
  
  <div *ngIf="viewMode === 'Semana'" class="week-view">
    <!-- Coluna de Horas -->
    <div class="hours-column">
      <div class="hour-slot" *ngFor="let hour of hoursInDay">
        {{ hour }}
      </div>
    </div>
  
    <!-- Colunas dos Dias -->
    <div class="week-days">
      <div class="week-day" *ngFor="let day of daysInWeek">
        <h3>{{ day | date: 'EEEE, dd/MM' | titlecase }}</h3>
        <div class="hour-slots">
          <div class="hour-slot" *ngFor="let hour of hoursInDay"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Visualização de Dia -->
  <div *ngIf="viewMode === 'Dia'" class="day-view">
    <div class="day-view-container">
      <!-- Coluna de Horas -->
      <div class="day-hours-column">
        <div class="day-hour-slot" *ngFor="let hour of hoursInDay">
          {{ hour }}
        </div>
      </div>
  
      <!-- Coluna do Dia -->
      <div class="day-main-column">
        <h3>{{ selectedDate | date: 'EEEE, dd/MM/yyyy' | titlecase }}</h3>
        <div class="day-hour-slots">
          <div class="day-hour-slot" *ngFor="let hour of hoursInDay"></div>
        </div>
      </div>
    </div>
</div>